<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP8" version="2.8.1.0" targetFramework="wp80" />
  <package id="HockeySDK.Core" version="2.2.2" targetFramework="wp80" />
  <package id="HockeySDK.WP" version="2.2.2" targetFramework="wp80" />
  <package id="MockIAPLib" version="1.0.0.1" targetFramework="wp80" />
</packages>